{{#section 'head'}}
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="../static/css/list-styles.css" rel="stylesheet"> 
<script src="../static/js/list-app.js"></script>
{{/section}}

<div class="template-list">
<div class="table-title ">
    <p>Templates</p>

</div>
<table>
    <thead>
        <th>
            {{header.id}}
        </th>
        <th>
            {{header.name}}
        </th>
        {{#if header.comment}}
        <th>
            {{header.comment}}
        </th>
        {{/if}} 
        {{#if header.lastModiftime}}
        <th>
            {{header.lastModiftime}}
        </th>
        {{/if}}
        {{#if header.age}}
        <th>
            {{header.age}}
        </th>
        {{/if}}
         <th>
            <!--actions-->
        </th>
    </thead>
    <tbody>

        {{#each templates}}
            <tr class="clickable template-item" data-href='edit/{{id}}'>
                <td>{{id}}</td>
                <td>{{name}}</td>
                {{#if ../header.comment}}
                    <td>{{comment}}</td>
                {{/if}}
                {{#if ../header.lastModiftime}}
                    <td>{{lastModiftime}}</td>
                {{/if}}
                {{#if ../header.age}}
                    <td>{{age}}</td>
                {{/if}}
                <td>
                {{#each ../actions}}
                    <a href="{{../actionRoute}}?actionId={{actionId}}&id={{../id}}">
                        <i class="fas {{iconId}}"></i>
                    </a>
                {{/each}}
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="2">Nothing here ... please create some template</td>
            </tr>
        {{/each}}
    </tbody>
</table>
    <a href="/new"> 
    <button class="add">
        <i class="fas fa-plus"></i> New template
    </button>
    </a>
</div>
